01_développement_logiciel/*
!01_développement_logiciel/READEM.md
!01_développement_logiciel/01_programmation/READEM.md
!01_développement_logiciel/01_Dev_web/READEM.md
!01_développement_logiciel/01_Dev_web/01_frontend/READEM.md

02_info_théorique/*
!02_info_théorique/README.md
!02_info_théorique/01_Algo_SDD/READEM.md


03_Systèmes_Informatiques/*
!03_Systèmes_Informatiques/READEM.md


04_Réseaux_et_Sécurité_informatique/*

05_gestion_données
!05_gestion_données/READEM.md

06_intelligence_artificielle/*

09_sumlation/
